.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  border-right: 2px solid transparent;
  transition: border-color 0.3s;
}

.react-resizable-handle:hover {
  border-right-color: #1890ff;
}
